<h2>Agregar Producto A Nuestra Lista</h2>
<div >

    <form  action="/productos" method="POST"> 
    
        <div >
            <div>
                <span >Título</span>
                <input type="text" name="title"  >
            </div>
        </div>

        <div >
            <div >
                <span >Precio</span>
                <input type="text" name="price"   >
            </div>
        </div>

        <div >
            <div >
                <span >Thumbnail</span>
                <input type="text" name="thumbnail" >
            </div>
        </div>

        <div >
            <div >
                <button  type="submit">Agregar a la lista</button>
            </div>
        </div>



    </form>
</div>