<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Desafio 6</title>
        <link href="./styles.css" rel="stylesheet" />
        <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
      
        <div >API Productos</div>
            <div >
                {{>navlinks}}
            </div>
        </div>
        <div>

            <div >
                {{{body}}}
            </div>
         </div>
    </div>
  
        <script src="./js/scripts.js"></script>
        
    </body>
</html>
