<h2>Agregar Producto A La Lista</h2>
<div >

  <form  action="/productos" method="POST"> 
    
        <div >
            <div>
                <span >Título</span>
                <input type="text" name="title"  >
            </div>
        </div>

        <div >
            <div >
                <span >Precio</span>
                <input type="text" name="price"   >
            </div>
        </div>

        <div >
            <div >
                <span >Thumbnail</span>
                <input type="text" name="thumbnail" >
            </div>
        </div>

        <div >
            <div >
                <button id="btn-submit" type="submit">Agregar a la lista</button>
            </div>
        </div>
        
        <hr>
        <h2>Chat En Vivo</h2>
        
        <div >
                <span >Email</span>
                <input id="input-email" type="text" name="thumbnail" required class="form-control" placeholder="Ingresá tu email" >
        </div>

        <div>
                <span>Mensaje</span>
                <input id="input-mensaje" type="email" name="thumbnail" required class="form-control" placeholder="Mensaje" >
        </div>

         <div class="d-grid gap-2">
                <button id="btn-submit-mensaje" class="btn btn-success btn-sm">Enviar mensaje</button>
         </div>
  
        
        <span>Historial de mensajes</span>
        
        <div id="historial-mensajes"></div>
        
        <hr>
        
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody id="table-body">
            
        </tbody>
    </table>

    <script>
        const socket = io();
        const btn = document.getElementById('btn-submit');
        const btnMensaje = document.getElementById('btn-submit-mensaje');
        
        const inputTitle = document.getElementById('input-title');
        const inputPrice = document.getElementById('input-price');
        const inputImg = document.getElementById('input-img');
        
        btnMensaje.addEventListener('click', (evt) => {
            evt.preventDefault();
            const email = document.getElementById('input-email').value;
            const mensaje = document.getElementById('input-mensaje').value;
            
            if (email !== '' && mensaje !== '') {
            
                socket.emit('nuevoMensaje', {
                    "email" : email,
                    "message" : mensaje,
                    "date" : new Date().toLocaleString()
                })
            }
            
        })
        
        
        btn.addEventListener('click', (evt) => {
            
            const title = inputTitle.value;
            const price = inputPrice.value;
            const img = inputImg.value;
            
            if (title !== '' && price !== '' && img !== '') {
                socket.emit('productoAgregado',{
                    "title": title,
                    "price": price,
                    "thumbnail": img
                })
            }
            
            
        })
        
        socket.on('listaMensajesActualizada', (data) => {
            console.log(data);
            $('#historial-mensajes').empty();
            data.forEach( (mensaje) => {
                $('#historial-mensajes').append(
                `
                <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:red">${mensaje.email}</strong>: ${mensaje.message} </small>
                `
                )
            })
        })
        
        socket.on('listaMensajesBienvenida', (data) => {
            console.log(data);
            $('#historial-mensajes').empty();
            data.forEach( (mensaje) => {
                $('#historial-mensajes').append(
                `
                <small style="display:block"> - <em style="color:#9f9f9f">[${mensaje.date}]</em> <strong style="color:red">${mensaje.email}</strong>: ${mensaje.message} </small>
                `
                )
            })
        })
        
        socket.on('listaActualizada', (data) => {
            $('#table-body').empty();
            data.forEach( (element) => {
            
                $('#table-body').append(
                `
                <tr>
                    <td>${element.id}</td>
                    <td>${element.title}</td>
                    <td>${element.price}</td>
                    <td>${element.thumbnail}</td>
                </tr>
                `
                )
            })
            
        })
        
        socket.on('bienvenidoLista', (data) => {
            $('#table-body').empty();
            data.forEach( (element) => {
            
                $('#table-body').append(
                `
                <tr>
                    <td>${element.id}</td>
                    <td>${element.title}</td>
                    <td>${element.price}</td>
                    <td>${element.thumbnail}</td>
                </tr>
                `
                )
            })
            
        })
        
    </script>
    </form>
</div>