{{#each productos}}
    <tr>
        <td class="align-middle">{{this.title}}</td>
        <td class="text-center align-middle">{{this.price}}</td>
        <td class="text-center align-middle"><img style="width: 25%" src={{this.thumbnail}} alt=""></td>
    </tr>
{{/each}}